.container {
    position: relative;
    /* text-align: center; */
}

.camera {
    position: absolute;
    z-index: -2;
    /* text-align: center; */
}

.output {
    float: right;
}

.char {
    font-size: 60px;
}

#pred-region {
    display: none;
    height: 224px;
    width: 224px;
    border: solid;
    border-color: #0000FF;
    /* background-color:rgb(100, 100, 100); */
}

#xSlider .slider-selection {
	background: #ADD8E6;
}

#ySlider .slider-selection {
	background: #ADD8E6;
}

#char-final {
    color: red;
    font-weight: bold;
    font-size: 200px;
}
